@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 98%;
    --foreground: 240 10% 3.9%;
    --background-start-rgb: 245, 249, 255;
    --background-end-rgb: 255, 255, 255;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 197 71% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 9.1% 43.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 9.1% 43.1%;
    --accent: 33 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 197 71% 52%;
    --radius: 0.5rem;
    --chart-1: 197 71% 52%;
    --chart-2: 33 100% 50%;
    --chart-3: 259 95% 65%;
    --chart-4: 161 94% 38%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 225 7% 5%;
    --foreground: 0 0% 98%;
    --background-start-rgb: 13, 15, 26;
    --background-end-rgb: 0, 0, 0;

    --card: 222 24% 11%; /* Slightly lighter than background */
    --card-foreground: 0 0% 98%;
    --popover: 225 7% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 71% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 24% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 33 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 24% 20%;
    --input: 222 24% 15%;
    --ring: 197 71% 52%;
    --chart-1: 197 71% 52%;
    --chart-2: 33 100% 50%;
    --chart-3: 259 95% 65%;
    --chart-4: 161 94% 38%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
